<html lang="zh-CN">
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>产品自动化测试平台</title>
</head>
<body role="document">
<!-- 导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <ul class="nav justify-content-center">
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-link"><a style='color:white' href="#">{{user}}</a></li>
            <li class="nav-link"><a style='color:white' href="/logout/">退出</a></li>
        </ul>
    </div>
</nav>
<!-- 流程测试步骤-->
<div class="row" style="padding-top: 70px;">
    <div class="col-md-11">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>所属产品</th><th>所属用例</th><th>步骤</th><th>定位方式</th><th>控件元素</th><th>操作方法</th><th>测试数据
            </th><th>验证数据</th><th>测试结果</th><th>时间</th>
            </tr>
            </thead>
            <tbody>
            {% for appcasestep in appcasesteps %}
                <tr>
                    <td>{{ appcasestep.Appcase.Product.productname }}</td>
                    <td>case{{ appcasestep.Appcase.id }}:{{ appcasestep.Appcase.appcasename }}</td>
                    <td>{{ appcasestep.appteststep }}:{{ appcasestep.apptestobjname }}</td>
                    <td>{{ appcasestep.appfindmethod }}</td>
                    <td>{{ appcasestep.appevelement }}</td>
                    <td>{{ appcasestep.appoptmethod }}</td>
                    <td>{{ appcasestep.apptestdata }}</td>
                    <td>{{ appcasestep.appassertdata }}</td>
                    <td>{% if appcasestep.apptestresult == 1 %}
                        <a style='color:green'>{{ appcasestep.apptestresult }}</a>
                    {% else %}
                        <a style='color:red'>{{ appcasestep.apptestresult }}</a>
                    {% endif %}
                    </td>
                    <td>{{ appcasestep.create_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
