<html lang="zh-CN">
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>产品自动化测试平台</title>
</head>
<body role="document">
<!-- 导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <ul class="nav justify-content-center">
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-link"><a style='color:white' href="#">{{user}}</a></li>
            <li class="nav-link"><a style='color:white' href="/logout/">退出</a></li>
        </ul>
    </div>
</nav>
<!-- 用例步骤列表-->
<div class="row" style="padding-top: 20px;">
    <div class="col-md-11">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>所属产品</th><th>所属用例</th><th>步骤</th><th>定位方式</th><th>控件元素</th><th>操作方法</th><th>测试数据
            </th><th>验证数据</th><th>测试结果</th><th>时间</th>
            </tr>
            </thead>
            <tbody>
            {% for webcasestep in webcasesteps %}
                <tr>
                    <td>{{ webcasestep.Webcase.Product.productname }}</td>
                    <td>case{{ webcasestep.Webcase.id }}:{{ webcasestep.Webcase.webcasename }}</td>
                    <td>{{ webcasestep.webteststep }}:{{ webcasestep.webtestobjname }}</td>
                    <td>{{ webcasestep.webfindmethod }}</td>
                    <td>{{ webcasestep.webevelement }}</td>
                    <td>{{ webcasestep.weboptmethod }}</td>
                    <td>{{ webcasestep.webtestdata }}</td>
                    <td>{{ webcasestep.webassertdata }}</td>
                    <td>{{ webcasestep.webtestresult }}</td>
                    <td>{{ webcasestep.create_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
